{% extends "base.html" %}

{% block title %}
Login | RationalMind
{% endblock %}

{% block content %}

<section class="dashboard-header">

    <p class="eyebrow">
        WELCOME BACK
    </p>

    <h1>
        Login to RationalMind
    </h1>

    {% if error %}
        <p class="feedback-error">
            {{ error }}
        </p>
    {% endif %}

    <form method="POST">

        <label for="username">
            Username
        </label>

        <input
            type="text"
            id="username"
            name="username"
            required
        >

        <label for="password">
            Password
        </label>

        <input
            type="password"
            id="password"
            name="password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="/signup">
            Create an account
        </a>
    </p>

</section>

{% endblock %}
