<!DOCTYPE html>
<html>

<head>

<title>Sign Up | RationalMind</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="auth-container">


<h1>
Create Account
</h1>


<form method="POST">


<input
name="username"
placeholder="Username"
required>


<input
name="email"
placeholder="Email"
required>


<input
type="password"
name="password"
placeholder="Password"
required>


<button>
Sign Up
</button>

{% if error %}

<div class="error-message">
    {{ error }}
</div>

{% endif %}
</form>


<p>
Already have an account?
<a href="/login">
Login
</a>
</p>


</div>


</body>

</html>
